/* Reusable */
section {
    margin-top: 64px;
    margin-bottom: 64px;
}

section p { 
    line-height: 32px;
    font-weight: 300;
}

.row {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title::after {
    content: " ";
    border-bottom: 2px solid #ff1e20;
    height: 2px;
    width: 80px;
    margin: 0 auto;
    margin-top: 24px;
    display: block;
}

/* Section: Hero Box */
.hero-img {
    background-image: linear-gradient(rgba(59, 59, 59, 0.3), rgba(0, 0, 0, 0.4)), url('../../assets/hero-img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-text-box p { 
    font-size: 24px; 
    color: #b9b9b9; 
    margin-bottom: 12px;
}

.hero-text-box h1 { 
    font-size: 48px; 
    font-weight: 500;
    color: #fff;
}

.hero-text-box button {
    margin-top: 12px;
    width: 160px;
}

/* Section: Info */
.section-info {
    /* background-color: #c42325; */
    margin: 0;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.img-container {
    width: 50%;
}

.img-container img {
    width: 100%;
    height: auto;
}

.info-description {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 210px;
}

.info-description h1 { font-size: 42px; }

.info-description p { margin-top: 18px; }

/* Section: PC Build */
.section-pcbuilds { margin: 0; }

.pcbuilds-wrapper {
    display: flex;
    flex-wrap: wrap;    
    background-color: #000;
}

.pc-photo {
    width: 25%;
    overflow: hidden;
}

.pc-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.3s, opacity 0.3s ease-in;
}

.pc-photo img:hover {
    opacity: 1;
    transform: scale(1);
}

/* Section: Features */
.section-features .description {
    width: 85%;
    margin: 0 auto;
    margin-top: 36px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 42px;
}

.card { 
    width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card span {
    font-size: 32px;
    background-color: #ff1e20;
    color: #fff;
    border-radius: 6px;
    padding: 6px 12px;
}

.card h3 {
    text-transform: uppercase;
    margin: 16px 0;
}

.card p { text-align: center; }
@media only screen and (max-width: 1200px) {
    /* Section: Shop */
    .shop-description { padding-top: 120px; } 
}

@media only screen and (max-width: 992px) {
    /* Reusable */
    section p { font-size: 16px; }

    /* Section: Hero Box */
    .hero-img { background-position: 60%; }

    .hero-text-box p { font-size: 20px; }
    
    .hero-text-box h1 {font-size: 42px; }

    /* Section: Shop */
    .info-description { padding-top: 80px; } 

    .info-description h1 { font-size: 32px; }

    /* Section: Features */
    .section-features .description { width: 100%; }

    .card { width: 30%;}
}

@media only screen and (max-width: 768px) {
    /* Section: Hero Box */
    .hero-text-box p { font-size: 18px; }
    
    .hero-text-box h1 {font-size: 36px; }

    /* Section: Shop */
    .info-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .img-container { width: 90%; }
    
    .info-description {
        width: 90%;
        padding-top: 0;
        margin-top: 24px;
    }

    /* Section: Features */
    .card { 
        width: 100%;
        margin-top: 18px;
    }
}

@media only screen and (max-width: 660px) {
    /* Reusable */
    h1 { font-size: 22px;}

    /* Section: Hero Box */
    .hero-text-box p { font-size: 16px; }

    .hero-text-box h1 { font-size: 32px; }
}

@media only screen and (max-width: 576px) {
    /* Section: Hero Box */
    .hero-text-box h1 { 
        margin-top: 12px; 
        font-size: 28px; 
    }
}

@media only screen and (max-width: 360px) {
    /* Reusable */
    h1 { font-size: 16px; }
}


