.view-cart {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #1f1f1f;
}

.view-cart h2 {
    text-align: center;
    padding: 42px 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
}

th {
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px;
}

th:nth-of-type(1) { text-align: left; }

td {
    border: 1px solid #e0e0e0;
    border-top: none;
    padding: 20px;
}

.price {
    color: #6e6e6e;
    text-align: center;
    font-size: 14px;
    padding-bottom: 24px;
}

.total-text {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.total-amount { 
    text-align: center;
    font-weight: 700;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.shopping {
    color: #6e6e6e;
}

.shopping a { 
    color: inherit;
    font-size: 14px;
    padding-left: 6px;
}

.shopping:hover { color: #1f1f1f; }

.actions button {
    width: 280px;
    border-radius: 25px;
}

.row-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.cart-empty a {
    text-decoration: underline;
    color: #6e6e6e;;
}

@media only screen and (max-width: 850px) {
    th:nth-of-type(2),
    th:nth-of-type(3) { display: none; }
     
    td { border: none; }

    tr { border-bottom: 1px solid #e0e0e0; }
}

@media only screen and (max-width: 520px) {
    .row-img { width: 200px; }

    .actions { flex-direction: column-reverse; }

    .shopping {
        width: 100%;
        margin-top: 12px;
        text-align: center;
    }

    .actions button {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .row-img { 
        display: flex;
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
    }

    .row-details { 
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }

    .row-quantity {
        width: 100%;
        padding: 0 20px;
     }
}