/* Reusable Styling */
.row {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

/*--- BANNER ---*/
.banner {
    background-image: url('../../assets/prebuilt-banner.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    display: flex; 
    justify-content: space-between;
    padding: 100px 60px;
}

.banner-img {
    width: 50%;
    height: 100%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.text-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #000;
    padding-top: 72px;
}

.text-box p { 
    font-weight: 300; 
    font-size: 16px;
}

.text-box p:nth-of-type(1) { margin: 8px 0; }

.customize-flex button {
    display: inline-block;
    font-size: 16px;
    width: 100px;
}

/*--- Main Content ---*/
.main-content {
    width: 90%;
    max-width: 1250px;
    margin-bottom: 120px;
}

.main-content h1 {
    font-size: 48px;
    text-align: center;
    margin: 110px 0;
}

.filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-flex span { font-size: 16px; }

.filter-flex select {
    border: none;
    outline: none;
    height: 35px;
    padding: 0 8px;
    color: #fff;
    background-color: rgba(36, 36, 36, 0.829);
}

.filter-flex select option {
    background-color:  rgb(36, 36, 36);
}

/* CARD */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;
}

.card {
    width: 30%;
    margin-top: 120px;
    margin-right: 24px;
    padding-bottom: 28px;
    border-radius: 15px;
    transform: scale(.9);
    transition: all .2s ease-in-out;
}

.card:hover {
    background-color: rgba(36, 36, 36, 0.829);
    transform: scale(1.05);
    cursor: pointer;
}

.card-img { margin-top: -5vw;}

.card-img img{
    width: 100%;
    height: auto;
}

.card-header {
    margin-top: 36px;
}

.card-header h3 { text-align: center; }

.card-details {
    margin-top: 12px;
    font-size: 14px;
    color: #b9b9b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpu { margin-bottom: 6px;}

.price {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #3978c9;;
    margin: 18px 0;
}

.card-btn {
    display: flex;
    justify-content: center;
}

.card-btn button {
    width: 50%;
    border-radius: 25px;
}

.card:hover .card-btn button {
    background-color: #3978c9;
    color: #fff;
}

.card-btn button:hover { 
    background-color: #144b94 !important;
    transition: background-color 0.3s;
}


/*--- MEDIA QUERY ---*/
@media only screen and (max-width: 1150px) {
    /*--- BANNER ---*/
    .banner {
        flex-direction: column; 
        align-items: center;
        padding: 40px 60px;
    }

    .banner-img, .text-box { width: 90%; }
    
    .text-box { padding-top: 40px; }
}

@media only screen and (max-width: 992px) {
    .card { width: 45%; }
}

@media only screen and (max-width: 660px) {
    /*--- BANNER ---*/
    .banner-img, .text-box { width: 100%; }

    .banner {padding: 40px 30px; }

    /*--- Main Content ---*/
    .main-content h1 { font-size: 36px; }

    /* CARD */
    .card { width: 100%; }

    .card-img { margin-top: -15vw;}
}

@media only screen and (max-width: 576px) {
    .main-content h1 { 
        font-size: 32px; 
        margin: 60px 0;
    }

    .text-box h3 { font-size: 18px;}
}

@media only screen and (max-width: 575px) {
    .filter-flex { flex-direction: column; }
      
    .filter-flex select {
        padding: 0 16px;
        margin-top: 12px;
    }
}



