/* Side Cart */
.sidecart-desc {
    padding: 0 12px;
    width: 60%;
    color: #6e6e6e;
}

.maincart-desc {
    color: #6e6e6e;
}

.name { 
    text-transform: uppercase; 
    color: #1f1f1f;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.description span { padding: 4px 0; }

.price { 
    font-weight: 700;
    font-size: 14px;
}