/* Reusable Styling */
.row {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

/*--- BANNER ---*/
.banner {
    background-image: url('../../assets/prebuilt-banner.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: space-between;
    padding: 100px 60px;
}

.banner-img {
    width: 50%;
    height: 100%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.text-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #000;
    padding-top: 72px;
}

.text-box p { 
    font-weight: 300; 
    font-size: 16px;
}

.text-box p:nth-of-type(1) { margin: 8px 0; }

.customize-flex button {
    display: inline-block;
    font-size: 16px;
    width: 100px;
}

/*--- Main Content ---*/
.main-content { 
    background-color: #181719;     
    color: #fff;
}

.main-content h1 {
    font-size: 48px;
    text-align: center;
    padding: 110px 0;
}

.filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-flex span { font-size: 16px; }

.filter-flex select {
    border: none;
    outline: none;
    height: 35px;
    padding: 0 8px;
    color: #fff;
    background-color: rgba(36, 36, 36, 0.829);
}

.filter-flex select option {
    background-color:  rgb(36, 36, 36);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 48px 0;
    /* border: 1px solid #fff; */
}


/*--- MEDIA QUERY ---*/
@media only screen and (max-width: 1150px) {
    /*--- BANNER ---*/
    .banner {
        flex-direction: column; 
        align-items: center;
        padding: 100px 60px;
    }

    .banner-img, .text-box { width: 90%; }
    
    .text-box { padding-top: 40px; }
}

@media only screen and (max-width: 660px) {
    /*--- BANNER ---*/
    .banner-img, .text-box { width: 100%; }

    .banner {padding: 80px 30px; }

    /*--- Main Content ---*/
    .main-content h1 { font-size: 36px; }
}

@media only screen and (max-width: 576px) {
    .main-content h1 { 
        font-size: 32px; 
        margin: 60px 0;
    }

    .text-box h3 { font-size: 18px;}
}

@media only screen and (max-width: 575px) {
    .filter-flex { flex-direction: column; }
      
    .filter-flex select {
        padding: 0 16px;
        margin-top: 12px;
    }
}



