.sidecart-button { 
    display: flex; 
    justify-content: space-between;
    margin-top: 8px;
}

.add { display: flex; }

.add button,
.add span {
    border: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 4px 10px;
    color: #6e6e6e;
    text-align: center;
}

.add span { font-size: 14px;}

.add button { 
    font-size: 18px; 
    outline: none;
}

.add button:hover {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #1f1f1f;
    cursor: pointer;
}

.add button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.remove {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #6e6e6e;
}

.remove:hover {
    color: #ff1e20;
    transform: scale(1.1);
    cursor: pointer;
}

.viewcart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewcart-button .remove {
    margin-top: 12px;
}