.clicked-item {
    margin-top: 60px;
    display: flex;
    padding: 72px 0;
}


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details h3 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
    text-transform: capitalize;
}

.details li { 
    display: flex;
}


.details li span {
    font-size: 16px;
    padding: 4px 0;
}

.details li span:nth-of-type(1) { font-weight: 700; }

.details li span:nth-of-type(2) { 
    padding-left: 4px; 
    font-size: 14px;
}

.price {
    font-weight: 700;
    color: #ff1e20;
    font-size: 24px;
}

.details button { width: 250px; }

