li {
    list-style-type: none;
    cursor: pointer;
}

.main-list {
    padding-left: 28px;
    font-size: 16px;
    text-transform: uppercase;
}

.main-list a { color: #fff; }

.footer-list { padding-bottom: 12px; }

.footer-list a { color: #ccc; }

/* Media Query */
@media only screen and (max-width: 992px) {
    .main-list { 
        padding-left: 32px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

