.form-container { 
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

.form-details {
    width: 680px;
    padding:  0 24px;
}

/* --- Form Actions ---*/
.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.form-actions button {
    width: 180px;
    font-size: 16px;
    border-radius: 25px;
}

.return {
    font-size: 15px;
    color: #6e6e6e;
}

.return a {
    color: inherit;
    padding-left: 8px;
}

.return:hover {
    color: #1f1f1f;
}

@media only screen and (max-width: 1050px) {
    .form-container { width: 100%; }
    
    .form-details {
        width: 100%;
    }
}