.white-logo {
    width: 160px;
    height: auto;
}

.black-logo {
    width: 220px;
    height: auto;
}

.mobile-logo {
    width: 45px;
    height: auto;
    display: none;
}

@media only screen and (max-width: 768px) {
    .white-logo  { display: none; }

    .mobile-logo { display: block; }
}