.Logo {
    font-family: 'Ruslan Display', cursive;
    font-size: 18px;
    padding-top: 6px;
}

.Logo a { color: #fff; }

@media only screen and (max-width: 576px) {
    .Logo {
        font-size: 14px;
    }
}