.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #0A81D1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    z-index: 999;
}

.account-wrapper span {
    padding-left: 28px;
    cursor: pointer;
}