.checkout-form {
    margin: 24px 0;
    display: flex;
}

/* Links */
.links-container {
    width: 48%;
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}

.links-details {
    width: 680px;
    padding:  0 24px;
}

.links { 
    display: flex; 
    margin-bottom: 24px;
}

.links li{
    font-size: 14px;
}

.links li a {
    color: #6e6e6e;
}

.links li a:hover,
.links li a:active,
.links li a.active {
    color: #1f1f1f;
    font-weight: 700;
}

.links li:not(:last-child):after {
    content: '>';
    padding: 0 6px;
}

/* Dropdown */
.dropdown-summary {
    background-color: #f5f5f5;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
    cursor: pointer;
}

.flex-summary {
    display: flex;
    align-items: center;
}

.flex-summary span:nth-of-type(2) { 
    font-size: 16px;
    padding: 0 8px;
}

.summary-total { 
    font-weight: 700; 
}

/*--- Media Queries ---*/
@media only screen and (max-width: 1050px) {
    .links-container { 
        width: 100%; 
    }

    .links-details {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .links { margin-top: 16px; }

    .checkout-form {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .dropdown-summary {
        display: flex;
    }
}
