.sidecart-details {
    display: flex;
    padding: 28px 0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-empty {
    text-transform: uppercase;
    padding: 28px 0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 700;
}