.account-wrapper span { cursor: pointer;}

.text-account {
    padding-left: 28px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.icon-account {
    display: none;
}


@media only screen and (max-width: 992px) {
    .text-account { display: none; }

    .icon-account { 
        display: inline-block; 
        padding-left: 18px;
        font-size: 20px;
        margin-top: 6px;
    }
}

@media only screen and (max-width: 360px) {
    .icon-account { font-size: 18px; }
}