.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 12px 24px;
    font-size: 20px;
}

.btn-primary {
    background-color: #ff1e20;
}

.btn-primary:hover {
    background-color: #d11a1d;
    transition: background-color 0.3s;
}

.btn-transparent {
    background-color: rgba(48, 48, 48, 0.6);
    color: #b9b9b9;
    font-size: 16px;
}
