.cart {
    padding: 18px;
    color: #1f1f1f;
    margin-top: 70px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    color: #9b9b9b;
    padding-bottom: 12px;
}

.cart-header span:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 16px;
}

.cart-header span:nth-of-type(2) { 
    font-size: 24px;
    cursor: pointer;
}

/* Total */
.cart-total {
    padding: 18px 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

/* Buttons */
.cart-btns { margin-top: 12px;}

.cart-btns button {
    width: 100%;
    margin-top: 12px;
    border-radius: 25px;
    font-size: 18px;
}

.cart-btns button a { color: inherit; }

.cart-empty {
    text-transform: uppercase;
    padding: 28px 0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 700;
}