.header {
    color: #fff;
    z-index: 999;
    width: 100%;
    background-color: #c42325;
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px 0;
}

.row {
    width: 90%;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right { 
    display: flex; 
    align-items: center;
}

.nav-right span {
    cursor: pointer;
    font-size: 20px;
}

.icon-menu { display: none;}
@media only screen and (max-width: 992px) {
    /* Main Navigation */
    .collapse-nav {
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 50px;
        width: 100%;
        background-color: #181719;
    }

    .collapse-nav.closed { display: none; }
    
    .collapse-nav.open { display: block; }

    /* Hamburger Menu */
    .icon-menu { display: inline-block; }
}