.cart { 
    position: relative; 
    margin: 0 24px;
}

.cart button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 4px;
}

.cart button span { 
    color: #fff; 
}

.no-of-items {
    position: absolute;
    top: -8px;
    right: -14px;
    font-size: 14px;
    background-color: #fe5a1d;
    padding: 2px 6px;
    border-radius: 25px;
}