.cart { position: relative; }

.no-of-items {
    position: absolute;
    top: -8px;
    right: -14px;
    font-size: 14px;
    background-color: #fe5a1d;
    padding: 2px 6px;
    border-radius: 25px;
}